* {
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
  }
  body{
    background-color: antiquewhite;
  }
  .container {
    width: 40%;
    height: 65vh;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #06838b;
    color: rgb(255, 255, 255);
    margin: 4rem auto;
  }
  h1 {
    text-align: center;
    margin: 2rem;
  
  }
  h4{
      margin: 1.5rem;
  }
  label {
    font-size: 1.1rem;
    font-weight: 400;
    font-size: x-large;
  }
  .ad {
    margin: 3rem 1rem;
  }
  
  input {
    height: 40px;
    border-radius: 10px;
    width: 40%;
    font-size: 1.2rem;
  }
  #bill {
    margin-left: 7.1rem;
  }
  #discount {
    margin-left: 2rem;
  }
  
  button{
      width: 30%;
      margin-left: 30px;
      padding: 0.7rem;
      border-radius: 20px;
      font-size: x-large;
      color: white;
      margin-bottom: 20px;
      background-color: green;
  }
  button:hover{
      background-color: burlywood;
  }
  p{
      margin: 0.5rem 2rem;
  }
  
  footer{
    float: right;
  }
  footer a{
    font-size: x-large;
    margin-right: 1rem;
    text-decoration: none;
    color: white;
  }