* {
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
}
body {
  background-color: antiquewhite;
}
.container {
  width: 40%;
  height: 68vh;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #06838b;
  color: rgb(255, 255, 255);
  margin: 4rem auto;
}
h1 {
  text-align: center;
  margin: 2rem;
}
h4 {
  margin: 1.5rem;
}
label {
  font-size: 1.1rem;
  font-weight: 400;
  font-size: x-large;
}
.ad {
  margin: 3rem 1rem;
}

input {
  height: 40px;
  border-radius: 10px;
  width: 40%;
}
#bill {
  margin-left: 7.1rem;
}
#discount {
  margin-left: 2rem;
}

button {
  width: 35%;
  padding: 0.7rem;
  border-radius: 13px;
  font-size: x-large;
  color: white;
  margin: 0.5rem 13rem;
  background-color: green;
}
button:hover {
  background-color: burlywood;
}
p {
  margin: 0.8rem 2rem;
  font-size: 1.1rem;
}

footer {
  float: right;
}
footer a {
  font-size: x-large;
  margin-right: 1rem;
  text-decoration: none;
  color: white;
  margin-bottom: 1rem;
}
